/* Color Variables */
$nt-bg-gray: #f7fafc;
$nt-text-gray: #2d3748;
$nt-primary: #4299e1;
$nt-primary-hover: #3182ce;
$nt-border-gray: #e2e8f0;

/* Font Variables */
$nt-font-sans: 'Inter', sans-serif;
$nt-font-mono: 'Roboto Mono', monospace;
